<p class=''>Hi!</p>
<p>Browserbadget.com is simply way to get respond with browser icon.</p>

<p>You can send GET request to browserbadget.com with parameters and get .svg icon of chosen browser and version</p>
<br/>
<p>Example:</p>
<p>Request:</p>
<p>browserbadget.com/chrome/42</p>
<p>Response:</p>
<img height=100 width=100 src='image/chrome-42.svg'/>
<br/>
<p>Documentation:</p>
<p>browserbadget.com/browser/version</p>

<p>Parameters:<p>
<p>browser:</p>
<ul>
  <li>chrome
  <li>opera
  <li>firefox
  <li>ie
  <li>safari
</ul>

<p>version:</p>
<ul>
  <li>any number will be added to logo image with '+'<br/>
  <li>if not present return logo without any text
</ul>

<br/>

<p>Browser icons:</p>
<img height=50 width=50 src='icons/default/chrome.svg'/>
<img height=50 width=50 src='icons/default/opera.svg'/>
<img height=50 width=50 src='icons/default/firefox.svg'/>
<img height=50 width=50 src='icons/default/ie.svg'/>
<img height=50 width=50 src='icons/default/safari.svg'/>
