<html>
  <head>
    <title>BrowserBadge</title>
    <meta name='description' content='Use this tool for generating browser icons with version in SVG' />
    <meta name='keywords' content='browser icons, web design icons, browser icons free, internet browser icons, web browser icon'/>
    <meta name="google-site-verification" content="jmmN-ljBEqGoLcRAI4yj1u6igvPh147lCqSPexGDfR0" />
    <meta name='og:url' content='http://browserbadge.com/'/>
    <meta name='og:type' content='website'/>
    <meta name='og:title' content='BrowserBadge'/>
    <meta name='og:description' content='Use our new API for generating browser icons with version SVG'/>
    <meta name='og:image' content='http://browserbadge.com/browsers.png'/>
    <meta name='og:updated_time' content='1436175571'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link rel="stylesheet" href="/application.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-64659918-1']);
      _gaq.push(['_trackPageview']);
      setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])",15000);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <%= yield %>
    <hr>
    <footer>
      <a href='http://www.active-bridge.com/' target='_blank'>Active Bridge, LLC</a>
    </footer>
  </body>
</html>
