<html>
  <head>
    <title>BrowserBadge</title>
    
    <meta name='description' content='Use this tool for generating browser icons with version in SCV' />
    <meta name='keywords' content='browser icons, web design icons, browser icons free, internet browser icons, web browser icon'/> />
    <meta name="google-site-verification" content="jmmN-ljBEqGoLcRAI4yj1u6igvPh147lCqSPexGDfR0" />
    <meta name='og:title' content='BrowserBadge'/>
    <meta name='description' content='images for BrowserBadge'/>
    <meta name='og:image' content='http://browserBadge.com/browsers.png'/>
    
    <link rel="stylesheet" href="/application.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-64659918-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id='main'>
      <img id='logo' src=''/>
      <p class='info'>Simple API to generate SVG browser icon budgets with version</p>
      <hr>
    
      <p class='title strong'>Documentation</p>
      <p class='padding'>To get browser budge send GET request to http://browserbadge.com with parameters 'browser', 'version' and 'size'.</p>
      <p class='padding'>http://browserbadget.com/browser/version/size</p>
      <p class='title'>Supported browsers</p>
      <table id='browsers'>
        <tr>
          <td class='image r_border'><img height=100 width=100 src='icons/default/chrome.svg'/></td>
          <td class='image r_border'><img height=100 width=100 src='icons/default/opera.svg'/></td>
          <td class='image r_border'><img height=100 width=100 src='icons/default/firefox.svg'/></td>
          <td class='image r_border'><img height=100 width=100 src='icons/default/ie.svg'/></td>
          <td class='image'><img height=100 width=100 src='icons/default/safari.svg'/></td>
        <tr>
          <td class='browser'>Chrome</td>
          <td class='browser'>Opera</td>
          <td class='browser'>Firefox</td>
          <td class='browser'>Internet Explorer</td>
          <td class='browser'>Safari</td>
        </tr>
      </table>
      <p class='title'>Parameters:</p>
      <div class='padding'>
        <span class='title medium'>browser:</span>
        <span>chrome | opera | firefox | ie | safari</span>
      </div>
      <div class='padding'>
        <span class='title medium'>version:</span>
        <span>any 1-3 digits number will be added to logo image with '+'. If not present return logo without any text</span>
      </div>
      <div class='padding'>
        <span class='title medium'>size:</span>
        <span>&lt;size&gt;px. Can be 1..9999 px. All badgets are square. If not present return 32px x 32px.</span>
        <span>Default size of images is 32px x 32px. But on your page you can set any picture size and SVG icon will be increased or reduced to this size.</span>
      </div>
      <p class='title strong'>Example:</p>
      <table class='padding' id='example'>
        <tr>
          <td>http://browserbadge.com/chrome/42</td>
          <td class='padding'>=&gt;</td>
          <td class='padding'><img src='http://browserbadge.com/chrome/42'/></td>
        </tr>
        <tr>
          <td>http://browserbadge.com/opera</td>
          <td class='padding'>=&gt;</td>
          <td class='padding'><img src='http://browserbadge.com/opera'/></td>
        </tr>
        <tr>
          <td>http://browserbadge.com/firefox/28/64px</td>
          <td class='padding'>=&gt;</td>
          <td class='padding'><img src='http://browserbadge.com/firefox/28/80px'/></td>
        </tr>
        <tr>
          <td>http://browserbadge.com/firefox/1234</td>
          <td class='padding'>=&gt;</td>
          <td class='padding'><img src='http://browserbadge.com/firefox/1234'/></td>
        </tr>
        <tr>
          <td>http://browserbadge.com/explorer</td>
          <td class='padding'>=&gt;</td>
          <td class='padding'><img src='http://browserbadge.com/explorer'/></td>
        </tr>
        <tr>
          <td>Or other error in parameters</td>
          <td class='padding'>=&gt;</td>
          <td class='padding'><img src='http://browserbadge.com/not_found'/></td>
        </tr>
      </table>
      <p class='title strong'>Using</p>
        <div class='padding'>
          <p>You can use generated images in <code>&lt;img&gt;</code> tag. Specify the desired size of img elemen or just send size as parametert.</p>
          <pre>&lt;img height='50' width='50' src='http://browserbadge.com/chrome/42'/&gt;</pre>
          <pre>&lt;img src='http://browserbadge.com/chrome/42/50px'/&gt;</pre>
          <p>Or in markdown syntax. Some markdown processors support inclusion of HTML, so you can use this tip.</p>
          <pre>![Alt text](http://browserbadge/chrome/42)</pre>
          <pre>![Alt text](http://browserbadge/chrome/42/50px)</pre>
        </div>
      </p>
      <hr>
      <div id='footer'>
        <a href='http://www.active-bridge.com/'><p class='title strong'>Active Bridge, LLC</p></a>
      </div>
    </div>
  </body>
</html>
