.center {
  text-align: center;
}

body {
  color: #222;
  margin: 0 auto;
  max-width: 800px;
  background: #f1f1f1;
  background: linear-gradient(135deg, #f1f1f1, #a2a2a2);
}

li { display: inline-block; }

.examples a:after {
  content: '=>';
  color: #222;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  word-wrap: break-word;
}

pre, code {
  background: #eee;
  overflow-x: auto;
  padding: 5px;
  border-radius: 5px;
}
